#exsample{
    padding: 90px 0;
    margin: 0 auto;
    h2{
        text-align: center;
        font-size: 38px;
        margin-bottom: 90px;
    }
}


.case{
    display: flex;
    .house{
        width: 50%;
        text-align: center;
    }
    .house_pic{
        width: 430px;
        height: 280px;
        margin: 0 auto;
    }

    p{
        font-size: 14px;
        margin-top: 15px;
    }
    .case_content_btn{
        display: block;
        margin-top: 15px;
    }
    img{
        width: 300px;
    }
}

.hotel{
    width: 50%;
    text-align: center;
    .hotel_pic{
        width: 430px;
        height: 280px;
        margin: 0 auto;
    }
    p{
        font-size: 14px;
        margin-top: 15px;
    }
    .case_content_btn{
        display: block;
        margin-top: 15px;
    }
    img{
        width: 300px;
    }
}

.case_btn{
    text-align: center;
    margin-top: 80px;
    a{
        text-decoration: none;
        border: 1px solid #000;
        display: inline-block;
        padding: 12px 40px;
        color: #000;
        font-size: 20px;
    }
}

.links{
    display: flex;
    padding-top: 90px;
    .link_img{
        display: block;
        width: calc(100%/3);
        position: relative;
        p{
            position: absolute;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 0;
            padding: 0;
            font-size: 25px;
            text-shadow: 1px 2px 3px brown;
        }
        img{
            width: 100%;
        }
    }

}

.footer{
    background-color: #000;
    .footer-content {
        margin: 0 auto;    
     }     
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.footer-logo{
    height: 40px;
}

.footer-nav_list ul{
    display: flex;
    li{
        margin: 0 30px;
        color: white;
        font-family: 'Dancing Script', cursive;
        font-family: 'Luxurious Roman', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
}

.copyright {
    background-color: black;
    p{
        color: white;
        text-align: center;
        padding: 10px;
        font-family: 'Dancing Script', cursive;
        font-family: 'Luxurious Roman', cursive;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
}



@media screen and (max-width:780px){
    .case{
        flex-direction: column-reverse;
        .house{
            width: 80%;
        }
        .house_pic{
            max-width: 100%;
            margin: 0 auto;
        }
    
        p{
            font-size: 14px;
            margin-top: 15px;
        }
        .case_content_btn{
            display: block;
            margin-top: 15px;
        }
        img{
            width: 100%;
        }

    }

    .hotel{
        width: 80%;
        .hotel_pic{
            max-width: 100%;
            margin: 0 auto;
        }
        p{
            font-size: 14px;
            margin-top: 15px;
        }
        .case_content_btn{
            display: block;
            margin-top: 15px;
        }
        img{
            width: 100%;
        }
    }

    .case_btn{
        text-align: center;
        margin-top: 50px;
        a{
            text-decoration: none;
            border: 1px solid #000;
            display: inline-block;
            padding: 12px 40px;
            color: #000;
            font-size: 10px;
        }
    }

    .links{
        flex-direction: column;
        .link_img{
            width: 80%;
        }
    }

.footer-nav{
    padding-top: 50px;
    flex-direction: column-reverse;
    }

    ul{
        flex-direction: column;
        li{
            padding-bottom: 30px;
            
        }
    }
    

}


