#exsample {
  padding: 90px 0;
  max-width: 1100px;
  margin: 0 auto;
}

#exsample h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 90px;
}

.case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.case .house {
  width: 50%;
  text-align: center;
}

.case .house_pic {
  width: 430px;
  height: 280px;
  margin: 0 auto;
}

.case p {
  font-size: 14px;
  margin-top: 15px;
}

.case .case_content_btn {
  display: block;
  margin-top: 15px;
}

.case img {
  width: 300px;
}

.hotel {
  width: 50%;
  text-align: center;
}

.hotel .hotel_pic {
  width: 430px;
  height: 280px;
  margin: 0 auto;
}

.hotel p {
  font-size: 14px;
  margin-top: 15px;
}

.hotel .case_content_btn {
  display: block;
  margin-top: 15px;
}

.hotel img {
  width: 300px;
}

.case_btn {
  text-align: center;
  margin-top: 80px;
}

.case_btn a {
  text-decoration: none;
  border: 1px solid #000;
  display: inline-block;
  padding: 12px 40px;
  color: #000;
  font-size: 20px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
}

.links .link_img {
  display: block;
  width: calc(100%/3);
  position: relative;
}

.links .link_img p {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-shadow: 1px 2px 3px brown;
}

.links .link_img img {
  width: 100%;
}

.footer {
  background-color: #000;
}

.footer .footer-content {
  margin: 0 auto;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.footer-logo {
  height: 40px;
}

.footer-nav_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav_list ul li {
  margin: 0 30px;
  color: white;
}

.copyright {
  background-color: black;
}

.copyright p {
  color: white;
  text-align: center;
  padding-top: 30px;
}

.hamburger {
  width: 30px;
  height: 30px;
}

.hamburger .pate,
.hamburger .pate::before,
.hamburger .pate::after {
  width: 100%;
  height: 5px;
  display: block;
  background-color: rosybrown;
  border-radius: 2px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hamburger .pate {
  position: relative;
  top: calc(50% - 2px);
}


.hamburger .pate::before,
.hamburger .pate::after {
  content: '';
  position: absolute;
}


.hamburger .pate::before {
  top: -9px;
}


.hamburger .pate::after {
  top: 9px;
}

#wrap:checked + .hamburger .pate {
  background-color: transparent;
}

#wrap:checked + .hamburger .pate::before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

#wrap:checked + .hamburger .pate::after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}

@media screen and (max-width: 780px) {
  .hamburger {
    width: 30px;
    height: 30px;
  }
  .hamburger .pate,
  .hamburger .pate::before,
  .hamburger .pate::after {
    width: 100%;
    height: 5px;
    display: block;
    background-color: rosybrown;
    border-radius: 2px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .hamburger .pate {
    position: relative;
    top: calc(50% - 2px);
  }
  .hamburger .pate::before, .hamburger .pate::after {
    content: '';
    position: absolute;
  }
  .hamburger .pate::before {
    top: -9px;
  }
  .hamburger .pate::after {
    top: 9px;
  }
}

@media screen and (max-width: 780px) {
  #wrap:checked + .hamburger .pate {
    background-color: transparent;
  }
  #wrap:checked + .hamburger .pate::before {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  #wrap:checked + .hamburger .pate::after {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
            transform: rotate(-45deg) translate(7px, -8px);
  }
}

#main {
  background-image: url("../img/jutaku-pct-renovation01.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 90vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header #logo {
  max-width: 50%;
  padding: 10px 30px;
}

.navi-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Luxurious Roman', cursive;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navi-ul li {
  list-style: none;
  padding: 15px 30px;
}

.navi-ul li a {
  text-decoration: none;
  color: white;
}

.navi-ul li a:hover {
  color: coral;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 70px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Luxurious Roman', cursive;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.main-title #title {
  display: none;
}

.news-section {
  padding: 20px;
}

.news-section h2 {
  font-size: 35px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.news-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Dancing Script', cursive;
  font-family: 'Luxurious Roman', cursive;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.news-ul li {
  list-style: none;
  border-bottom: 1px solid #999696;
  margin: 25px;
  width: 60%;
}

.news-ul li a {
  text-decoration: none;
}

.news-ul li .news-border {
  display: inline-block;
  padding: 5px 8px;
  font-size: 12px;
  border: 1px solid #000;
}

.news-ul li span {
  padding: 25px;
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */